// @font-face {
//    font-family: "pkmn_r";
//    src: font-url('pkmn_r.ttf') format('truetype');
//  }

// @font-face {
//   font-family: 'pokemon-font';
//   src: url('../fonts/pokemon-font.eot'); /* IE9 Compat Modes */
//   src: url('../fonts/pokemon-font.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('../fonts/pokemon-font.woff2') format('woff2'), /* Super Modern Browsers */
//        url('../fonts/pokemon-font.woff') format('woff'), /* Pretty Modern Browsers */
//        url('../fonts/pokemon-font.ttf')  format('truetype') /* Safari, Android, iOS */
//   /* There is no SVG version of this font due to support being dropped in SVG 2 */
// }

.pokemons-wrapper {
  width: 80%;
  height: 100%;
  background-color: #5b8bd0;
  margin: 0 auto;
  padding: 1px 5px 1px 5px;
  .pokemons-box {
    padding: 0.5px 10px;
    margin: 10px 0;
    background: #f0f7ff;
    border: dashed 2px #5b8bd0;
    &__name {
    }
    &__status {
      font-size: 20px;
    }
  }
}

.page {
  
}
