.users_wrapper 
  .users_wrapper__box
    .users_wrapper__box__index 記事一覧
    .users_wrapper__box__content
      - @posts.each do |post|
        = link_to post_path(post), class: 'posts-box' do
          .users_wrapper__box__content--title
            = post.title
          .users_wrapper__box__content--text
            = post.text.truncate(60)
