.posts-main-wrpper
  .posts-box
    投稿記事
  .posts-box
    投稿記事
  .posts-box
    投稿記事
  .posts-box
    投稿記事
  .posts-box
    投稿記事
  .posts-box
    投稿記事
  .posts-box
    投稿記事
  .posts-box
    投稿記事
  .posts-box
    投稿記事
  .posts-box
    投稿記事