.show-wrapper
  .show-wrapper__box
    .show-title
      %div
        = @post.title
    .show-text
      %div
        = @post.text
    - if @post.user_id == current_user.id
      .show-edit
        = link_to "修正する", edit_post_path, class: "edit-btn"