-# - form_with(model: @pokem, local: true) do |f|
-#   .check__form
-#     = f.collection_check_boxes :ball_ids, Ball.all, :id, :ball_name 
-#     = f.submit
= form_with(model: @pomekon, local: true) do |f|
  = f.text_field :pkname
  .ball__form
    = f.collection_check_boxes :ball_ids, Ball.all, :id, :ball_name 
  .submit__btn
    = f.submit