.users_wrapper {
  height: 100vh;
  width: 50%;
  background-color: pink;
  margin: 0 auto;
  &__box {
    &__index {
      margin-left: 5px;
    }
    &__content {
      width: 200px;
      height: 200px;
      background-color: lavender;
      border: solid;
      color: black;
      &--title {
        height: 25px;
        text-align: center;
        border-bottom: solid;
        color: black;
      }
      &--text{
        color: black;
      }
    }
  }
}

.posts-box {
  text-decoration: none;
}