.posts-main-wrpper {
  width: 80%;
  height: 100vh;
  background-color: grey;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: scroll;
  .posts-box {
    margin: 15px 0 0 15px;
    text-decoration: none;
    .posts-box__show {
      width: 200px;
      height: 200px;
      background-color: lavender;
      color: black;
      .post-title {
        height: 25px;
        text-align: center;
        background-color: lightgreen;
      }
      .post-text {
        height: 150px;
      }
      .post-continue {
        height: 25px;
        text-align: center;
        margin-bottom: 0 ;
      }
    }
  }
}

